@import './base.css';

* {
  margin: 0;
  padding: 0;
}

#wrap {
  width: 1280px;
}

#btn {
  border: 1px solid white;
  display: inline-block;
  
  cursor: pointer;
  padding: 2px;
  margin: 5px;
}

#btn:hover {
  color: white;
  background-color: blue;
}

#div_ul {
  width: 100%;
}

#list_ul {
  list-style-type: none;
  background-color: rgb(66, 69, 94);
  width: 100%;
}


#list_ul_list {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #eee;
  border: 1px solid gray;
  display: inline-flex;
  justify-content: center;
}

#list_li {
  cursor: pointer;
  list-style-type: none;
  background-color: #eee;
  width: 100%;
}

#list_li:hover{
  background-color: gray;
}

#list_li_list{
  
  padding-top: 5px;
  padding-bottom: 5px;
  color: #eee;
  border: 1px solid gray;
  display: inline-flex;
  justify-content: center;
}



#list_btn {
  cursor: pointer;
  display: inline-block;
  padding: 1px 5px;
  margin: 2px;
  border: 1px solid white;
}

@media (max-width: 400px) {
  #wrap {
    width: 400px;
  }
}

@media (min-width: 400px) {
  #wrap {
    width: 400px;
  }
}

@media (min-width: 576px) {
  #wrap {
    width: 576px;
  }
}

@media (min-width: 640px) {
  #wrap {
    width: 640px;
  }
}
@media (min-width: 768px) {
  #wrap {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  #wrap {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  #wrap {
    width: 1280px;
  }
}
